/* sans */
@font-face {
  font-family: "Archivo";
  src: url("/fonts/Archivo-Regular.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/Archivo-Bold.ttf");
  font-display: swap;
  font-weight: 700;
}

/* variant */

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Bold.ttf");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("/fonts/BarlowCondensed-Regular.ttf");
  font-display: swap;
  font-weight: 400;
}
