/* Follow official HOT UI import pattern */
/* 1. First import WebAwesome base styles */
@import url("https://early.webawesome.com/webawesome@3.0.0-beta.1/dist/styles/webawesome.css");

/* 2. Then import our HOT theme variables */
@import "./hot.css";
@import "./hot-font-face.css";

/* 3. Then our WebAwesome overrides */
@import "./hot-wa-override.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* defaults */

html,
body {
  font-family: "Archivo";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: neutralscale;
  overflow: hidden;
  color: var(--hot-color-neutral-950);
  width: 100vw;
  height: 100vh;
}

a {
  color: var(--hot-color-blue-500);
}
